package runtime

import (
	"internal/coverage/rtcov"
	_ "unsafe"
)

//go:linkname GID
func GID() uint64  { return getg().goid }

//go:linkname PGID
func PGID() uint64 { return getg().parentGoid }

//go:linkname coverage_getCovCounterList internal/coverage/cfile.getCovCounterList
func coverage_getCovCounterList() []rtcov.CovCounterBlob {
	return getCovCounterListTobari()
}

//go:linkname getCovCounterListTobari
func getCovCounterListTobari() []rtcov.CovCounterBlob
